In [1]:
import pandas as pd
import numpy as np
mydata_house=pd.read_csv(('house.csv'))
mydata_house

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63,1,True,True,True,Shahran,1.850000e+09,61666.67
1,60,1,True,True,True,Shahran,1.850000e+09,61666.67
2,79,2,True,True,True,Pardis,5.500000e+08,18333.33
3,95,2,True,True,True,Shahrake Qods,9.025000e+08,30083.33
4,123,2,True,True,True,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3474,86,2,True,True,True,Southern Janatabad,3.500000e+09,116666.67
3475,83,2,True,True,True,Niavaran,6.800000e+09,226666.67
3476,75,2,False,False,False,Parand,3.650000e+08,12166.67
3477,105,2,True,True,True,Dorous,5.600000e+09,186666.67
3478,82,2,False,True,True,Parand,3.600000e+08,12000.00

In [2]:
mydata_house.dtypes

Area           object
Room            int64
Parking          bool
Warehouse        bool
Elevator         bool
Address        object
Price         float64
Price(USD)    float64
dtype: object

In [3]:
mydata_house['Area']=pd.to_numeric(mydata_house.Area,errors='coerce')# change type : Area
mydata_house.replace({False:0,True:1},inplace=True)# change type : Parking  and Warehouse and Elevator 
mydata_house.dtypes

Area          float64
Room            int64
Parking         int64
Warehouse       int64
Elevator        int64
Address        object
Price         float64
Price(USD)    float64
dtype: object

In [4]:
mydata_house.isnull().sum()

Area           6
Room           0
Parking        0
Warehouse      0
Elevator       0
Address       23
Price          0
Price(USD)     0
dtype: int64

In [5]:
mydata_house.drop(index=mydata_house.Address[mydata_house.Address.isnull()].index,inplace=True)#drop null : Address
mydata_house.shape

(3456, 8)

In [6]:
mydata_house.drop(index=mydata_house.Area[mydata_house.Area.isnull()].index,inplace=True)#drop null : Area
mydata_house.shape

(3450, 8)

In [7]:
mydata_house.drop_duplicates(inplace=True)
mydata_house.shape

(3242, 8)

In [8]:
mydata_house.reset_index(drop=True,inplace=True)

In [9]:
address=set(mydata_house.Address)
Address={}
for i ,j in enumerate(address,start=1):
    x={j:i}
    Address.update(x)
number_adaress=mydata_house.Address.map(lambda s:Address.get(s) if s in Address else s)
number_adaress

0       120
1       120
2       144
3        81
4       107
       ...
3237     18
3238    155
3239     47
3240      9
3241      8
Name: Address, Length: 3242, dtype: int64

In [10]:
address=set(mydata_house.Address)
Address={}
for i in address:
    j=mydata_house[mydata_house['Address']==i].Price.sum()/mydata_house[mydata_house['Address']==i].Area.sum()
    x={i:j}
    Address.update(x)
avrage_price=mydata_house.Address.map(lambda s:Address.get(s) if s in Address else s)
avrage_price

0       3.668519e+07
1       3.668519e+07
2       8.204639e+06
3       1.000572e+07
4       8.625069e+07
            ...
3237    3.738220e+07
3238    3.945778e+07
3239    1.106100e+08
3240    9.718675e+07
3241    6.521264e+06
Name: Address, Length: 3242, dtype: float64

In [11]:
mydata_house.drop(mydata_house[(mydata_house['Area']>500.0) & (mydata_house['Room']<4)].index,axis=0,inplace=True) # run without this line

In [12]:
mydata_house

,Area,Room,Parking,Warehouse,Elevator,Address,Price,Price(USD)
0,63.0,1,1,1,1,Shahran,1.850000e+09,61666.67
1,60.0,1,1,1,1,Shahran,1.850000e+09,61666.67
2,79.0,2,1,1,1,Pardis,5.500000e+08,18333.33
3,95.0,2,1,1,1,Shahrake Qods,9.025000e+08,30083.33
4,123.0,2,1,1,1,Shahrake Gharb,7.000000e+09,233333.33
...,...,...,...,...,...,...,...,...
3237,63.0,1,1,1,0,Feiz Garden,1.890000e+09,63000.00
3238,86.0,2,1,1,1,Southern Janatabad,3.500000e+09,116666.67
3239,83.0,2,1,1,1,Niavaran,6.800000e+09,226666.67
3240,105.0,2,1,1,1,Dorous,5.600000e+09,186666.67
3241,82.0,2,0,1,1,Parand,3.600000e+08,12000.00

In [13]:
y = np.asarray(mydata_house['Price'])

In [14]:
for i in mydata_house.columns[6:]:
    mydata_house.drop(i,axis=1,inplace=True)
mydata_house

       Area  Room  Parking  Warehouse  Elevator             Address
0      63.0     1        1          1         1             Shahran
1      60.0     1        1          1         1             Shahran
2      79.0     2        1          1         1              Pardis
3      95.0     2        1          1         1       Shahrake Qods
4     123.0     2        1          1         1      Shahrake Gharb
...     ...   ...      ...        ...       ...                 ...
3237   63.0     1        1          1         0         Feiz Garden
3238   86.0     2        1          1         1  Southern Janatabad
3239   83.0     2        1          1         1            Niavaran
3240  105.0     2        1          1         1              Dorous
3241   82.0     2        0          1         1              Parand

[3233 rows x 6 columns]

In [15]:
mydata_house['avrage_mean_pric']=avrage_price # run without this line
mydata_house['Address']=number_adaress
mydata_house

       Area  Room  Parking  Warehouse  Elevator  Address  avrage_mean_pric
0      63.0     1        1          1         1      120      3.668519e+07
1      60.0     1        1          1         1      120      3.668519e+07
2      79.0     2        1          1         1      144      8.204639e+06
3      95.0     2        1          1         1       81      1.000572e+07
4     123.0     2        1          1         1      107      8.625069e+07
...     ...   ...      ...        ...       ...      ...               ...
3237   63.0     1        1          1         0       18      3.738220e+07
3238   86.0     2        1          1         1      155      3.945778e+07
3239   83.0     2        1          1         1       47      1.106100e+08
3240  105.0     2        1          1         1        9      9.718675e+07
3241   82.0     2        0          1         1        8      6.521264e+06

[3233 rows x 7 columns]

In [16]:
X = np.asarray(mydata_house)
from sklearn.preprocessing import scale,normalize,minmax_scale
#X=minmax_scale(X,feature_range=(-2,2))
#X=normalize(X,norm='l2',axis=0)
X=scale(X)
X

array([[-0.67549701, -1.42229262,  0.42772554, ...,  0.51993652,
         0.35187469, -0.23882138],
       [-0.72253132, -1.42229262,  0.42772554, ...,  0.51993652,
         0.35187469, -0.23882138],
       [-0.4246473 , -0.11447918,  0.42772554, ...,  0.51993652,
         0.76167687, -1.23653309],
       ...,
       [-0.36193488, -0.11447918,  0.42772554, ...,  0.51993652,
        -0.89460696,  2.35086243],
       [-0.01701654, -0.11447918,  0.42772554, ...,  0.51993652,
        -1.54346041,  1.88062901],
       [-0.37761299, -0.11447918, -2.33794782, ...,  0.51993652,
        -1.5605355 , -1.29550398]])

In [17]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2, random_state=30)

In [18]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,y_train)
y_pred=reg.predict(X_test)

In [19]:
from sklearn.metrics import mean_squared_error
mse=mean_squared_error(y_test,y_pred)
mse

1.680516903006539e+19

In [20]:
reg_score=reg.score(X_train,y_train)  # for underfit or overfit
print('reg_score train: %f' %reg_score)
reg_score=reg.score(X_test,y_test)
print('reg_score test: %f' %reg_score)

reg_score train: 0.741532
reg_score test: 0.770685

In [21]:
from sklearn.model_selection import cross_validate

In [22]:
cv_results = cross_validate(reg, X, y, cv=10,return_train_score=True)

In [23]:
cv_results['test_score'].mean()

0.714636880762658

In [24]:
cv_results['train_score'].mean()

0.7484630316166301

In [25]:
from sklearn.linear_model import Ridge
ridge=Ridge(alpha=0.1)
ridge.fit(X_train,y_train)
ridge_pred=ridge.predict(X_test)
ridge_mse=mean_squared_error(y_test,ridge_pred)
ridge_mse

1.6805529749036646e+19

In [26]:
ridge_score=ridge.score(X_test,y_test)
ridge_score

0.7706802724185111

In [27]:
ridge_score=ridge.score(X_train,y_train)
ridge_score

0.7415324270813659

In [28]:
cv_results = cross_validate(ridge, X, y, cv=10,return_train_score=True)

In [29]:
cv_results['test_score'].mean()

0.7146408986767232

In [30]:
cv_results['train_score'].mean()

0.7484630302385351

In [31]:
from sklearn.linear_model import Lasso
lasso= Lasso(alpha=0.1)
lasso.fit(X_train,y_train)
lasso_pred=lasso.predict(X_test)
lasso_mse=mean_squared_error(y_test,lasso_pred)
lasso_mse

1.68051690303407e+19

In [32]:
lasso_score=lasso.score(X_test,y_test)
lasso_score

0.7706851946027162

In [33]:
lasso_score=lasso.score(X_train,y_train)
lasso_score

0.7415324286755023

In [34]:
cv_results = cross_validate(lasso, X, y, cv=10,return_train_score=True)

In [35]:
cv_results['test_score'].mean()

0.7146368807671838

In [36]:
cv_results['train_score'].mean()

0.7484630316166301